<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/assetsContact/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../static/assetsContact/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/assetsContact/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="../static/assetsContact/css/style.css">

    <title>MFS - Contattaci</title>
  </head>
  <body>
  

  <div class="content">
    
    <div class="container">

      
      <div class="row justify-content-center">
        <div class="col-md-10">
          
          <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">

              <h2 class="mb-5">Riempi il form. <br> E' facile.</h2>

              <form class="border-right pr-5 mb-5" method="post" id="contactForm" name="contactForm">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" class="form-control" name="fname" id="fname" placeholder="Nome">
                  </div>
                  <div class="col-md-6 form-group">
                    <input type="text" class="form-control" name="lname" id="lname" placeholder="Cognome">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 form-group">
                    <textarea class="form-control" name="message" id="message" cols="30" rows="7" placeholder="Scrivi il tuo messaggio"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <input type="submit" value="Invia messaggio" class="btn btn-primary rounded-0 py-2 px-4">
                    <span class="submitting"></span>
                  </div>
                </div>
              </form>

              <div id="form-message-warning mt-4"></div> 
              <div id="form-message-success">
                Il tuo messaggio è stato inviato, grazie!
              </div>

            </div>
            <div class="col-lg-4 ml-auto">
              <h3 class="mb-4">Let's talk about everything.</h3>
              <p>Siamo disponibili per qualsiasi dubbio o problema, siamo sicuri che la nostra assistenza saprà aiutarti alla grande!</p>
              <p><a href="mailto:assistenza.mfs@gmail.com">assistenza.mfs@gmail.com</p>
            </div>
            <p><a href="{{ url_for('notizia') }}" id="backHome">Clicca qui</a> per tornare indietro.</p>
          </div>
        </div>  
        </div>
      </div>
  </div>
    
    

    <script src="../static/assetsContact/js/jquery-3.3.1.min.js"></script>
    <script src="../static/assetsContact/js/popper.min.js"></script>
    <script src="../static/assetsContact/js/bootstrap.min.js"></script>
    <script src="../static/assetsContact/js/jquery.validate.min.js"></script>
    <script src="../static/assetsContact/js/main.js"></script>
  </body>
</html>