{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MFS - Entra ora</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="../static/assetsLogin/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="../static/assetsLogin/css/style.css">
</head>
<body>

    <div class="main">
        {% if msglogout == 1: %}
		<script> alert("Hai effettuato il logout.") </script>
		{% endif %}
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="../static/assetsLogin/images/signin-image.jpg" alt="sing up image"></figure>
                        <a href="{{ url_for('registerUtente') }}" class="signup-image-link">Vuoi registrarti?</a>
                        <a href="{{ url_for('registerGiornalista') }}" class="signup-image-link">Sei un giornalista? Registrati ora.</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Entra <u>ora</u>.</h2>
                        <form action="{{ url_for('login') }}" method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" placeholder="Username" id="username" required>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" placeholder="Password" id="password" required>
                            </div>
                            <a href="{{ url_for('contact') }}" class="signup-image-link">Hai dubbi? Contattaci ora.</a>
                            <div class="form-group form-button">
                                <input type="submit" class="form-submit" id="signin" value="Login">
                            </div>
                            <div class="msg">{{ msg }}</div>
                            <div class="msgregistrato">{{ msgregistrato }}</div>

                        </form>
                        <!-- <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="../static/assetsLogin/vendor/jquery/jquery.min.js"></script>
    <script src="../static/assetsLogin/js/main.js"></script>
</body>
</html>
{% endblock %}